.button {
    -fx-border-radius: 5px;
    -fx-color:yellow;
    -fx-background-color:yellow;
    -fx-border: 14px
}
.button:hover {
    -fx-background-color:orange;
}
.combo-box {
    -fx-border-radius: 5px;
    -fx-color:yellow;
    -fx-background-color:yellow;
    -fx-border: 14px
}
.combo-box:hover {
    -fx-background-color:orange;
}
.text-field {
    -fx-border-radius: 5px;
    -fx-color:#FFFF99;
    -fx-background-color:#FFFF99;
    -fx-border: 14px
}